body {
  height: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 500; }

/* Header----Nav */
header nav.row {
  padding: 10px 0px 10px 0px; }
  header nav.row img {
    min-width: 99.190px;
    width: 20%;
    margin-left: 20px; }

header div.links {
  justify-content: space-around;
  padding: 0%; }

.navbar-dark .navbar-nav .nav-link {
  color: white;
  font-size: 15px !important;
  margin-left: 1rem;
  margin-right: 1rem;
  font-weight: lighter; }

.navbar-dark .navbar-nav .nav-link:hover {
  color: white;
  font-weight: 600; }

.custom-toggler.navbar-toggler {
  margin-right: 20px;
  border-color: white; }

.sectionPagina {
  height: 40vh; }
  .sectionPagina img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

@media (min-width: 576px) {
  .sectionPagina {
    height: 70vh; } }

@media (min-width: 992px) {
  .sectionPagina {
    height: 100vh; } }

.logoIntro {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto; }
  .logoIntro img {
    width: 200px; }
  @media (min-width: 576px) {
    .logoIntro img {
      width: 350px; } }
  @media (min-width: 992px) {
    .logoIntro img {
      width: 600px; } }

.footer-contenido {
  height: 7vh; }

.textPresentacion {
  font-size: 1.5rem;
  color: #ffaa19; }

.textTrabajos {
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  color: black; }

.parrafointro {
  color: #F573AF;
  font-size: 1rem; }

.textnormal {
  text-align: center;
  line-height: 300%;
  margin-bottom: 20px; }

.icon-footer {
  width: 40px;
  padding: 5px;
  border-radius: 8px; }

.icon-footer:hover {
  box-shadow: -2px -1px 68px 3px rgba(248, 248, 248, 0.75);
  -webkit-box-shadow: -2px -1px 68px 3px rgba(248, 248, 248, 0.75);
  -moz-box-shadow: -2px -1px 68px 3px rgba(248, 248, 248, 0.75); }

@media (min-width: 576px) {
  .textnormal {
    text-align: initial;
    width: 75%;
    margin: 0 auto; }
  .icon-footer {
    width: 50px; }
  .parrafointro {
    font-size: 1.2rem; } }

@media (min-width: 768px) {
  .textPresentacion {
    font-size: 2rem;
    text-align: initial; }
  .textnormal {
    text-align: initial; }
  .icon-footer {
    width: 50px; } }

@media (min-width: 992px) {
  .textPresentacion {
    font-size: 2.5rem;
    text-align: initial; }
  .parrafointro {
    font-size: 2rem; }
  .textnormal {
    font-size: 1rem;
    padding-left: 3rem;
    padding-right: 3rem; } }

#clientesimg {
  max-width: 970px; }

.comuniProdu .container-tarjetascomuniProdu .tarjetascomuniProdu .contenedor-icono {
  width: 70px;
  height: 70px;
  top: -35px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto; }
  .comuniProdu .container-tarjetascomuniProdu .tarjetascomuniProdu .contenedor-icono img {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.container-carousel img {
  width: 100%; }

@media (min-width: 768px) {
  .container-carousel img {
    width: 75%; } }

@media (min-width: 992px) {
  .quehacemos {
    height: 40%; }
    .quehacemos p {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .comuniProdu {
    height: 60%; }
    .comuniProdu .container-tarjetascomuniProdu {
      height: 100%; } }

#titleClientes {
  margin-top: 30px; }

body,
html {
  height: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 500; }

.navbar-dark .navbar-nav .nav-link {
  color: white;
  font-size: 20px;
  font-weight: lighter; }

.navbar-dark .navbar-nav .nav-link:hover {
  color: white;
  font-weight: 600; }

.contact {
  height: 80vh;
  width: 100%;
  text-align: center; }

#comentarios {
  height: 100px; }

.modal-content {
  padding: 10px;
  width: 600px; }

.contact-modal {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: 900; }

.close-gif {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-radius: 4px;
  border: none;
  outline: none; }

.close-icon {
  font-size: 40px; }

@media (min-width: 576px) {
  .contact {
    width: 90%; } }

@media (min-width: 768px) {
  .contact {
    text-align: initial; } }

@media (min-width: 992px) {
  .contact {
    width: 75%;
    text-align: initial; } }

#botonvar {
  width: unset !important; }

@media (max-width: 768px) {
  #encuentraiconos {
    text-align: center; } }

#formula {
  height: 50%; }

.botonRosa:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem #F573AF; }

/* Colores primarios */
.fondoBlanco {
  background-color: white; }

.fondoNegro {
  background-color: black; }

.fondoGris {
  background-color: #383838; }

.fondoRojo {
  background-color: #FC4D30; }

.fondoRosa {
  background-color: #F573AF; }

.fondoNaranja {
  background-color: #FFAA19; }

/* Colores segundarios */
.fondoGris1 {
  background-color: #a9a9a9; }

.fondoGris2 {
  background-color: #d2d3d5; }

.fondoRosa2 {
  background-color: #f5c8e3; }

/* Colores texto */
.textoRosa {
  color: #F573AF; }

.textoNaranja {
  color: #FFAA19; }
