body {
  height: 100%;
  font-family: "Poppins", sans-serif; }

/* Header----Nav */
header nav.row {
  padding: 10px 0px 10px 0px; }
  header nav.row img {
    min-width: 180px; }

header div.links {
  justify-content: space-around;
  padding: 0%; }

.navbar-light .navbar-nav .nav-link {
  color: white;
  font-size: 20px; }

.footer-contenido {
  height: 15vh; }

.sectionPagina {
  height: 80vh; }

.textPresentacion {
  font-size: 3rem; }

.textnormal {
  font-size: 1.2rem; }

.quehacemos {
  height: 40%; }
  .quehacemos p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.comuniProdu {
  height: 60%; }
  .comuniProdu .container-tarjetascomuniProdu {
    height: 100%; }
    .comuniProdu .container-tarjetascomuniProdu .tarjetascomuniProdu {
      height: 90%; }
      .comuniProdu .container-tarjetascomuniProdu .tarjetascomuniProdu .contenedor-icono {
        width: 70px;
        height: 70px;
        top: -35px;
        left: 46%; }
        .comuniProdu .container-tarjetascomuniProdu .tarjetascomuniProdu .contenedor-icono img {
          margin: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); }

/* Colores primarios */
.fondoBlanco {
  background-color: white; }

.fondoNegro {
  background-color: black; }

.fondoRojo {
  background-color: #FC4D30; }

.fondoRosa {
  background-color: #F573AF; }

.fondoNaranja {
  background-color: #FFAA19; }

/* Colores grises */
.fondoGris1 {
  background-color: #a9a9a9; }

.fondoGris2 {
  background-color: #d2d3d5; }
