.fondoBlanco{
    background-color: white;
}

.fondoNegro{
    background-color: black;
}

.fondoRojo{
    background-color: #FC4D30;
}

.fondoRosa{
    background-color: #F573AF;
}

.fondoNaranja{
    background-color: #FFAA19;
}