body {
  height: 100%;
  font-family: "Poppins", sans-serif;
}

/* Header----Nav */

header {
  nav.row {
    padding: 10px 0px 10px 0px;
    img {
      min-width: 180px;
    }
  }
  div.links {
    justify-content: space-around;
    padding: 0%;
  }
}
.navbar-light .navbar-nav .nav-link {
  color: white;
  font-size: 20px;
}

.footer-contenido{
  height: 15vh;
}

.sectionPagina{
}

.textPresentacion{
  font-size: 1.5rem;
  text-align: center;
}

.textnormal{
  text-align: center;
}

.icon-footer{
  width: 15px;
}

@media (min-width: 576px) { 
  .icon-footer{
    width: 24px;
  }
}

@media (min-width: 768px) { 
  .textPresentacion{
    font-size: 2rem;
    text-align: initial;
  }
  .textnormal{
    text-align: initial;
  }
  .icon-footer{
    width: 50px;
  }
}

@media (min-width: 992px) {
    .textPresentacion{
    font-size: 3rem;
    text-align: initial;
  }
  .sectionPagina{
    height: 80vh;
  }
  
  .textnormal{
  font-size: 1rem;
}

}

@import "_styles_servicios.scss";
@import "_styles_clientes.scss";
@import "_styles_contacto.scss";
@import "_coloresFondo.scss";