body {
  height: 100%;
  font-family: "Poppins", sans-serif;
}

/* Header----Nav */

header {
  nav.row {
    padding: 10px 0px 10px 0px;
    img {
      min-width: 180px;
    }
  }
  div.links {
    justify-content: space-around;
    padding: 0%;
  }
}
.navbar-light .navbar-nav .nav-link {
  color: white;
  font-size: 20px;
}

.footer-contenido{
  height: 15vh;
}

.sectionPagina{
  height: 80vh;
}

.textPresentacion{
  font-size: 3rem;
}

.textnormal{
  font-size: 1.2rem;
}


@import "_styles_servicios.scss";
@import "_styles_clientes.scss";
@import "_coloresFondo.scss";